@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


::-webkit-scrollbar{
  width: 5px;
  /* background-color: navy; */
}

::-webkit-scrollbar-thumb{
    background-color: #de6262;
    border-radius: 10px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}